.jumbotron {
  box-sizing: border-box;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
}

#heading {
    background: linear-gradient(to right, #fce146 , #ff9914);
  border: 7.5px solid #6759ff;
  color: black;
  border-radius: 10px;
  padding: 20px 0 20px 0;
  font-size: 72px;
  font-weight: lighter;
  letter-spacing: 1.5px;
  font-family: 'Fredoka One', cursive;
}

.mainArea {
  background: linear-gradient(to right, #6759ff , #ce5ee5);
  border: 5px solid  #ff9914;
  border-radius: 5px;
}

.main-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.timer-p {
  margin-top: 40px;
}

.answer:hover {
  background: linear-gradient(to left, #fce146 , #ff9914);
}

.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}

img{
  margin-bottom: 30px;
}

body {
  background-color: #fff3af;
  color: white;
}
